body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0, 0.96);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.cStripA {
  display: grid;
  grid-template-columns: .9fr 1.2fr .9fr;
  min-height: 45vh;
}

/* end stripA */

.cStripB {
  display: block;
  background: url(/src/images/Bar/bargreen.png) no-repeat center;
  background-size: 100% 100%;
  height: 80px;
}

.cStripB h1 {
  font-size: clamp(40px, 3vw, 4vw);
  font-weight: 900;
  text-align: center;
  line-height: 80px;
}


/* start stripC */
.cStripC {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 20vh;
  gap: 1vw;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;

}
/* end stripC */

.cStripD {
  display: block;
  background: url(/src/images/Bar/bargreen.png) no-repeat center;
  background-size: 100% 100%;
  height: 80px;
}

.cStripD h1 {
  font-size: clamp(40px, 3vw, 4vw);
  font-weight: 900;
  text-align: center;
  line-height: 80px;
}

/* start stripE */
.cStripE {
  display: grid;
  grid-template-columns: .9fr 1.2fr .9fr;
  min-height: 40vh;
}

.cStripELeft {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  outline:1px solid pink;
  color: white;
  margin: auto;
}

.cStripERight {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  outline:1px solid pink;
  color: white;
  margin: auto;
}

/* end stripE */

/* start stripE2 */
.cStripE2 {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 20vh;
  gap: 1vw;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

/* end stripE2 */

.cStripF {
  display: block;
  background: url(/src/images/Bar/bargreen.png) no-repeat center;
  background-size: 100% 100%;
  height: 80px;
}

.cStripF h1 {
  font-size: clamp(40px, 3vw, 4vw);
  font-weight: 900;
  text-align: center;
  line-height: 80px;
}

/* start stripG */
.cStripG {
  color: white;
  text-align: center;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cGameListIcons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5%;
  width: 50%;
}

.cGameListIcons button {
  color: aliceblue;
  font-size: 1.2em;
  font-weight: 700;
}

.bGame1 {
  background: url(/src/images/Game/LinkButton/GenshinImpact.webp);
  width: 209px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  transition: all .2s ease-in-out;
}

.bGame1:hover {
  background: url(/src/images/Game/LinkButton/GenshinImpactHover.webp);
  width: 209px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  transform: scale(1.1);
}

.bGame2 {
  background: url(/src/images/Game/LinkButton/LostArk.webp);
  width: 209px;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  transition: all .2s ease-in-out;
}

.bGame2:hover {
  background: url(/src/images/Game/LinkButton/LostArkHover.webp);
  width: 209px;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  transform: scale(1.1);
}

.bGame3 {
  background: url(/src/images/Game/LinkButton/TorchlightInfinite.webp);
  width: 209px;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  transition: all .2s ease-in-out;
}

.bGame3:hover {
  background: url(/src/images/Game/LinkButton/TorchlightInfiniteHover.webp);
  width: 209px;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  transform: scale(1.1);
}
/* end stripG */

/* ***Mobile start*** */
@media screen and (max-width: 998px) {

  .cStripA {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .9fr 1fr;
    grid-template-areas:
      "calendar patch"
      "article article";
  }

  .cStripC {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px 250px;
  }

  .cStripE {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .9fr 1fr;
    grid-template-areas:
      "AdLeft AdRight"
      "guide guide";
  }

  .cStripELeft {
    grid-area: AdLeft;
  }

  .cStripERight {
    grid-area: AdRight;
  }

  .cStripE2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px 250px;
    margin-bottom: 5%;
  }

  .cGameListIcons {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    width: 100vw;
  }
}
/* ***Mobile end*** */